@import "bootstrap";

* {
  transition: background-color 1s ease, color 1s ease, border-color 1s ease;
}

:root {
  --primaryA: #FF7777;
  --primaryB: #B277FF;
  --primaryC: #359F63;
  --main-background: #ffffff;
  --text-light: #ffffff;
  --text-dark: #000000;

  --border: #000000;
  --delete: #E53935;
  --yellow: #f9c110;
  --success: #359F63;

  --header: #FF7777;
  --placeholder: #57575C;
  --hover-A: #b34646;
  --hover-B: #66469C;
  --hover-C: #2a6946;
  --hover-delete: #92211f;

}

.theme-dark {
  --primaryA: #242368;
  --primaryB: #66469c;
  --primaryC: #2a6946;
  --main-background: #0d1b2a;

  --text-light: #dfdfdf;
  --text-dark: #dfdfdf;

  --task-card: #1b263b;
  --edit-link: #dfdfdf;
  --border: #415a77;
  --delete: #92211f;
  --yellow: #cca332;
  --success: #2a6946;

  --header: #dfdfdf;
  --placeholder: #B5B7BA;
  --hover-A: #6d6bda;
  --hover-B: #9971dd;
  --hover-C: #4ba373;
  --hover-delete: #df6a68;
}

.theme-toggle-section {
  margin-left: 1.5%;
  display: flex;
  align-items: center;
}

.Logo-Dark {
  display: none;
}

.theme-dark .Logo-Light {
  display: none;
}

.theme-dark .Logo-Dark {
  display: block;
}


body {
  background-color: var(--main-background);
  color: var(--text-dark);
  font-family: "Quicksand";
  font-weight: 600;
}

p {
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 16px;
}

.custom-navbar {
  background-color: var(--primaryA);
}

.custom-navbar .nav-link:hover {
  text-decoration: underline;
}

.custom-navbar .container-fluid {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-navbar .navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: var(--text-light);
}

.right-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  white-space: nowrap; 
}

.Logo-Big {
  text-align: center;
  display: block;
}

.Logo-Big svg{
  width: 20rem;
  height: auto;
}

h1 {
  color: var(--header);
  text-align: center;
  font-weight: bold;
  padding-top: 2%;
  font-size: 36px;
}

h2 {
  color: var(--primaryA);
  text-align: center;
  font-weight: bold;
  padding-top: 2%;
}

.landing-section h1 {
  border-bottom: 5px solid var(--header);
  padding-bottom: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.landing-section p{
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--task-card);
  text-align: center;
  border-radius: 10px;
}

.task-creation-form {
  max-width: 80%;
  gap: 2rem;
  margin: 0 auto;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}

.form-left,
.form-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-creation-form .form-group {
  display: flex;
  flex-direction: column;
  color: var(--text-dark);
  font-weight: 900;
  font-family: "Quicksand", sans-serif;
}

input, select, textarea {
  background-color: var(--task-card);
  color: var(--text-dark);
  border: 1px solid var(--border);
}

::placeholder {
  color: var(--placeholder);
}

.dashboard {
  margin: 0 auto;
  width: 90%;
  display: block;
  gap: 20px;
}

.description-text{
   line-height: 1.4 !important;
}

.task-card-alt {
  width: 45%;
  border: 3px solid var(--border);
  border-radius: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  background-color: var(--task-card);
  padding: 1rem;
}

.task-card-alt .top-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--border);
  margin-bottom: 5px;
}

.task-card-alt h3 {
  white-space: normal; 
  max-width: 600px;      
  word-wrap: break-word;
  color: var(--text-dark);
  font-weight: 900;
}

.task-card-alt .top-section .interaction-corner {
  margin-left: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: 0.75rem;
}

.content-section {
  display: flex;
  justify-content: center;
  height: 60%;
}

.left-section {
  width: 65%;
  border-right: 2px solid var(--border);
  padding-right: 1rem;
}

.right-section {
  width: 35%;
  padding-left: 1rem;
}

.task-card-alt .bottom-section {
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
}

.task-card-alt .bottom-section .right-section {
  padding-top: 0.5%;
  display: flex;
  justify-content: flex-end;
}

.counter {
  display: flex;
  justify-content: space-between;
  width: 70%;
  color: var(--text-light);
  text-align: center;
  margin: 1rem auto;
  gap: 1rem;
  margin: 1rem auto;
}

.counter h2 {
  color: var(--text-light);
  font-size: 1.2rem;
}

.overdue-counter, .upcoming-counter, .completed-counter {
  background-color: var(--primaryA);
  padding: 1rem 2rem;
  border-radius: 25px;
  font-size: 1.2rem;
}

.upcoming-counter {
  background-color: var(--primaryB);
}

.completed-counter {
  background-color: var(--primaryC);
}

.urgency-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 3px;
}

.urgency-circle.high {
  background-color: var(--delete);
}

.urgency-circle.medium {
  background-color: var(--yellow);
}

.urgency-circle.low {
  background-color: var(--success);
}

.user-form {
  max-width: 50%;
  display: block;
  margin: auto;
}

.user-form .form-group {
  margin-bottom: 20px; 
}

.user-form .form-group label {
  display: block;
  color: var(--text-dark);
  font-weight: 900;
  font-family: "Quicksand", sans-serif;
}

.user-form .form-group input {
  width: 100%;
  padding: 5px 16px;
  font-size: 16px;
}

.button {
  padding: 5px 12px;
  background-color: var(--primaryA);
  color: var(--text-light);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.primary-button {
  padding: 5px 12px;
  background-color: var(--primaryA);
  color: var(--text-light);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

.overlay-button{
  padding: 5px 12px;
  background-color: var(--primaryA);
  color: var(--text-light);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  position: fixed;
  top: 4rem;
  right: 6rem;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.overlay-button:hover {
  background-color: var(--hover-A);
}

.theme-toggle-section {
  margin-top: 2rem;
}

#theme-toggle {
  padding: 5px 12px;
  background-color: var(--primaryA);
  color: var(--text-light);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

#theme-toggle:hover {
  background-color: var(--hover-A);
  transform: translateY(-5px);
}

.edit-button {
  display: inline-flex;
  align-items: center;
  font-weight: 900;
  font-family: "Quicksand", sans-serif;
  /* text-decoration: none!important; */
  color: var(--edit-link);
}


.icon svg {
  width: 24px;
  height: 24px;
  fill: currentColor !important;
  stroke: currentColor !important;
  display: block;
}

.buttons-section {
  display: flex;
  gap: 1rem;
}

.task_section {
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;    
  flex-wrap: wrap;
  gap: 20px;
}

.countdown-section {
  margin-top: auto;
  height: 50px;
  border-radius: 3px;
  background-color: var(--primaryA);
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-section p {
  margin: auto;
  color: var(--text-light);
  font-weight: 900;
  text-align: center;
}

.upcoming-section .countdown-section {
    background-color: var(--primaryB);
}

.completed-section .countdown-section {
  background-color: var(--primaryC);
}

.dashboard .overdue {
  background-color: var(--primaryA);
  color:var(--text-light);
  text-align: left;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

.dashboard .upcoming {
  background-color:var(--primaryB);
  color: var(--text-light);
  text-align: left;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

.dashboard .completed {
  background-color: var(--primaryC);
  color: var(--text-light);
  text-align: left;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

.custom-check {
  width: 24px;
  height: 30px;
  accent-color: var(--primaryC);
  cursor: pointer;
  vertical-align: middle;
}

.custom-delete {
  padding: 5px 12px;
  background-color: var(--delete);
  cursor: pointer;
  color: var(--text-light);
  font-size: 14px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
}

.custom-delete:hover {
  background-color: var(--hover-delete);
  color: var(--text-light);
}

.field_with_errors {
  display: contents;
}

.flash {
  position: fixed;
  background-color: var(--success);
  color: var(--text-light);
  padding: 2px 8px;
}

.flash-hide {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.mobile-nav {
  display: none;
}

.section-link {
  text-decoration: none;
  color: inherit;
}

.section-link div{
  cursor: pointer;
  transition: transform 0.20s ease-in-out
}

.section-link .overdue-counter:hover, .upcoming-counter:hover, 
  .completed-counter:hover 
{
  transform: translateY(-5px);
}

.overdue-counter:hover {
  background-color: var(--hover-A);
}

.upcoming-counter:hover {
  background-color: var(--hover-B);
}

.completed-counter:hover {
  background-color: var(--hover-C);
}

@media (max-width: 1080px) {

.task-card-alt {
  width: 100%;
  border: 3px solid var(--border);
  border-radius: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.task-card-alt .top-section {
  color: var(--primaryA);
  display: flex;
  justify-content: space-between;

}

.task-card-alt h3 {
  white-space: normal; 
  max-width: 600px;      
  word-wrap: break-word;
}
.task-card-alt .top-section .interaction-corner {
  margin-left: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: 0.75rem;
}

.content-section {
  display: flex;
  justify-content: center;
  height: 60%;
}

.left-section {
  width: 65%;
  border-right: 2px solid var(--border);
  padding-right: 1rem;
}

.right-section {
  width: 35%;
  padding-left: 1rem;
}

.task-card-alt .bottom-section {
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
}

.task-card-alt .bottom-section .right-section {
  padding-top: 0.5%;
  display: flex;
  justify-content: flex-end;
}

.overlay-button{
  top: 4rem;
  right: 1rem;
  height: 4rem;
}

.overlay-button svg {
  height: 48px;
  width: 48px;
}
.overlay-button .icon-label {
  display: none;
}


.overdue-counter, .upcoming-counter, .completed-counter {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}
}

@media (min-width: 821px) {
  .mobile-nav {
    display: none;
  }

  .nav-item.dropdown {
    display: none !important;
  }
}

@media (max-width: 820px) {
.navbar .container-fluid {
    display: none;
}

.mobile-nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
}

.mobile-nav .brand {
  margin-top: -2rem;
}

.nav-item.dropdown {
  display: block !important;
  grid-column: 3;
  justify-self: end;
}

.mobile-nav .nav-link {
  white-space: nowrap; 
}

.mobile-nav .nav-item.dropdown {
  position: static; 
}

.mobile-nav .dropdown-menu {
  color: var(--text-dark);
  background: var(--main-background);
}

.theme-dark .mobile-nav .dropdown-menu .dropdown-item{
  color: var(--text-light) !important;
}

.mobile-nav .nav-item.dropdown {
  position: relative;
}

.mobile-nav .nav-item.dropdown {
  position: static; 
}

.dropdown-item:hover {
  color:  var(--main-background);
  background-color: var(--primaryA);
  font-weight: 900;
}

.overlay-button{
  top: 600px;
  right: 25px;
  height: 65px;
}

  .form-grid {
    grid-template-columns: 1fr; 
    gap: 24px;
  }

  .form-left,
  .form-right {
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 12px;
  }

  .form-right {
    margin-top: 0!important;
    margin-bottom: 50px;
  }
  
  .bottom-section .left-section p {
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 1;
  }

}

@media (max-width: 600px) {
.body {
    overflow: hidden;
}

.countdown-section {
  border-radius: 0px 0px 3px 3px;
}

.dashboard .overdue {
  text-align: center;
}

.dashboard .upcoming {
  text-align: center;
}

.dashboard .completed {
  text-align: center;
}

.counter {
  width: 100%;
}

.counter h2, h4 {
  margin-top: 0.5%;
  font-size: 16px;
}

.overdue-counter, .upcoming-counter, .completed-counter {
  padding: 10px;
}

.content-section {
  flex-direction: column;
  height: auto;
  margin-bottom: 10px;
}

.left-section, .right-section {
  width: 100%;
  border-right: none;
  padding: 0;
  margin-bottom: 10px;
}

.countdown-section {
  border-radius: 0px;
}

}